
.button{

    border: none;
    outline: none;
    padding-inline: 1.5rem;
    padding-block: 0.75rem;
    border-radius: 1rem;
    cursor: pointer;

    transition: all 0.3s ease-in-out;

    &.primary-button{
        background-color: #e1034d;
        color: white;
    }

    &.secondary-button{
        background-color: transparent;
        color: #e6edf3;
        border: 1px solid #2a3348;

        &:hover{
            background-color: #1c2230;
            border-color: #e1034d;
            color: #e1034d;
        }
    }

    &:active{
        transform: scale(0.9);
    }
}